# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
.pytest_cache/
.coverage
htmlcov/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.prettiercache
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/logs/
frontend/node_modules/
.database_url
supabase-key.txt
